@import '../../.cache/wal/colors-waybar.css';

@define-color background-alpha alpha(@background, 0.9);
@define-color foreground-alpha alpha(@foreground, 0.9);

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Dejavu Sans Mono, FontAwesome, Material Icons, sans-serif;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: @background-alpha;
  color: @foreground;
  border-radius: 8px;
}

window#waybar > * {
  margin: 4px;
  padding: 0px 8px;
}

button {
  border: none;
}

/* fix for buttons behaving weird on hover */
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: transparent;
  transition-property: none;
  transition-duration: 0;
  border: none;
  text-shadow: none;
}

tooltip {
  border-radius: 8px;
  background-color: @background-alpha;
  padding: 12px;
  margin: 0px;
  border: 4px solid @color1;
}

tooltip label {
  color: @foreground;
}

#taskbar {
  margin: 0;
}

#workspaces {
  margin-right: 0;
  margin-left: -8px;
}

#taskbar button,
#workspaces button {
  background-color: @color6;
  border-radius: 6px;
  margin-right: 2px;
  margin-top: -4px;
  color: @background;
  padding-bottom: 12px;
  box-shadow: inset 0px -8px 0px 0px @color1;
  border: 1px solid @background-alpha;
}

#taskbar button:hover,
#workspaces button:hover {
  border: 1px solid @color6;
}

#taskbar button.active,
#workspaces button.active {
  box-shadow: none;
  font-weight: bold;
  margin-top: 0px;
  padding-bottom: 4px;
}

#taskbar button.active:hover,
#workspaces button.active:hover {
  border: 1px solid @background-alpha;
}

/* #workspaces button.focused {
  border-bottom: 2px solid #888888;
} */

#workspaces button.urgent {
  background-color: #eb4d4b;
}

/* other modules */
#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#custom-bitcoin,
#custom-clipboard,
#custom-fortune,
#custom-media,
#custom-moon-phase,
#custom-weather,
#custom-wlogout,
#custom-notification,

#custom-brave,
#custom-kitty,
#custom-thunar,

#disk,
/* #idle_inhibitor, */
#memory,
#mode,
#mpd,
#network,
#pulseaudio,
#scratchpad,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces {
  padding: 4px 8px;
}

#custom-kitty,
#custom-thunar,
#custom-brave {
  color: @color6;
}

/* add this style if you want the icon to be bitcoin-orange */

#custom-bitcoin {
  color: #F2A900;
}


#clock {
  margin: 0 12px;
}

/* battery module */
#battery {
  border-radius: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
}

/* #battery icon {
  color: red;
} */

#battery.charging,
#battery.plugged {
  /* background-color: #26A65B; */
  background-color: alpha(@color6, 0.85);
  color: @background;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: @background;
  }
}

#battery.warning:not(.charging) {
  background-color: #ae4f23;
  color: @background;
  animation-name: blink;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  background-color: #ae2323;
  color: @background;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disconnected {
  background-color: alpha(@color6, 0.85);
  color: @background;
  border-radius: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
