@import '../../.cache/wal/colors-waybar.css';

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Dejavu Sans Mono, FontAwesome, Material Icons, sans-serif;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: @foreground;
  transition-property: background-color;
  transition-duration: .5s;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -2px transparent;
  /* Avoid rounded borders under each button name */
  border-bottom: 2px solid transparent;

}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: alpha(@foreground, 0.25);
  border-bottom: 2px solid @foreground;
}

tooltip {
  border-radius: 4px;
  background-color: alpha(@background, 0.75);
  padding: 12px;
  margin: 0px;
  border: 1px solid @foreground;
}

tooltip label {
  color: @foreground;
}

#taskbar {
  background-color: alpha(@background, 0.5);
  border-radius: 4px;
}

#taskbar button.active {
  color: @foreground;
  font-weight: bold;
  border-bottom: 2px solid @foreground;
}

/* workspaces module */
#workspaces button {
  padding: 4px 8px;
  color: @color2;
}

#workspaces button.active {
  color: @foreground;
  font-weight: bold;
  border-bottom: 2px solid @foreground;
}

#workspaces button.focused {
  border-bottom: 2px solid #888888;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

/* active window module */
#window {
  font-weight: bold;
  /* margin: 0 16px; */
}

#mode {
  background-color: #64727D;
  border-bottom: 3px solid #ffffff;
}

/* other modules */
#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#custom-media,
#custom-wlogout,
#disk,
#idle_inhibitor,
#memory,
#mode,
#mpd,
#network,
#pulseaudio,
#scratchpad,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces {
  background-color: alpha(@background, 0.5);
  border-radius: 4px;
  padding: 4px 8px;
}

#backlight-slider {
  min-width: 100px;
  padding: 4px 8px;
}

#cpu {
  border-radius: 4px 0 0 4px;
}

#memory {
  border-radius: 0;
}

#disk {
  border-radius: 0 4px 4px 0;
}

#workspaces {
  padding: 0;
}

#backlight-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#backlight-slider trough {
  min-height: 10px;
  min-width: 40px;
  border-radius: 5px;
  background-color: @color2;
}

#backlight-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background-color: @foreground;
}

/* battery module */
#battery icon {
  color: red;
}

#battery.charging,
#battery.plugged {
  background-color: #26A65B;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.warning:not(.charging) {
  background-color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disconnected {
  background-color: #f53c3c;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
