echo ""
echo "Welcome to the system config!"
echo ""
echo "Usage:"
echo "rebuild - activate a new system configuration"
echo "nixos-update - update flake inputs"
echo "nixos-cleanup - remove old system generations"
echo ""
